<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<section class="container about">
<h1>${_("About")}</h1>
<p style="font-size:22px">${_("A revolution is ongoing in the way education is designed, created, and delivered. EdLynX captures the best of American education and technology brought to your study room. At edLynX we strive to find best teaching technique for every concept designed specifically for every student. Our vision is to create and deliver teaching material so that every student will gain mastery of subjects they are interested in. Your starting point, i.e., what you already know, is the starting point of your edLynX experience.  EdLynX will learn about you while you learn about your subject on edLynX. It will use this acquired knowledge of your strengths and weaknesses and your learning style to design course material for you that will set you on the most efficient pathway to your success.")}</p>
<p style="font-size:22px">${_("EdLynX does away with one size fits all method of education. EdLynX keeps track of your strengths and weaknesses. It uses this knowledge to provide feedback and course material specifically focused on your needs. EdLynX is able to do all of this and more because it is using the cutting edge technology that has been developed by the leading Universities such as Harvard, MIT, and Berkeley. It is using artificial intelligence, machine learning, cloud computing, and big data technologies to create a system that is unparalleled in its ability and reach.")}</p>
</section>
