<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<section class="container about">
<h1>${_("Contact")}</h1>
<p style="font-size:22px">${_("Email:")}<br> admin@edlynx.org </p>
<p style="font-size:22px">${_("Phone:")}<br>
   USA: +1 (848) 229-2696
   <br>
   India: +91 9415424947</p>
<p style="font-size:22px">${_("Address:")}<br>
31 Eldeco Greenwoods<br>
Lucknow - 226001, UP, India
<br>
<br>
626 Middlesex Ave<br>
Metuchen, NJ 08840<br>
USA</p>
</section>

