<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Product/Service details and Pricing Structure")}</%block>

<section class="container about">
<h1>${_("Product/Service details and Pricing Structure")}</h1>
<p style="font-size:22px">
EDLYNX provides education material and tutorials for preparation of high stakes exams such as JEE, PMT, etc. Our products and services range from fully contained coaching to practice and tests. Pricing varies with each product and service and may fall between Rs 100 to Rs 100,000.
<br>
Full JEE/PMT coaching will be priced at Rs 100,000. However, promotions may make the price lower than this. We will also be offering test series and live advice sessions, prices for which will be between Rs 100 to Rs 50,000.
</p>
</section>

